html{
    font-size: 100%;
    background-color: #5b4233;
}

body {
  font-family: "Magic:The Gathering", serif;
  margin: 12px;
  background-color: #333333;
  /* transition on change */
}


#wrapper {
  background-color: #cca831;
  height: 600px;
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
  border-style: solid;
  border-color: black;
}

#guildheader {
  background-color: #E9D09A;
  color: gold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  font-size: 48px;
  margin-bottom: 2px;
  padding-top: 5px;
}

button {
  font-family: "Magic:The Gathering", serif;
  background-color: gold;
  max-width: 72px;
  max-height: 72px;
  font-size: 14px;
  border-style: solid;
}

#left {
  display: flex;
  float: left;
  justify-content: space-around;
  align-content: center;
  margin-left: 2px;
}

#right {
  display: flex;
  float: right;
  justify-content: space-around;
  align-content: center;
  margin-right: 2px;
}

#ravnica {
    display: block;
    margin: auto;
    width: 40%;
    padding-top: 5px;
}

input {
  color: black;
  font-family: "Magic:The Gathering", serif;
  border-style: solid;
  border-color: #daa520 5px;
}

#fname {
  background-color: #E9D09A;
}

#bday {
  background-color: #E9D09A;
}

#submit {
  background-color: gold;
}