html {
	background-color: #F7F8B0;
	max-width: 100%;
	overflow-x: hidden;

}

* {
box-sizing: border-box;
margin: 0;
padding: 0;

}

nav {
	background-color: pink;
}

#container {
	background-color: rgba(251, 247, 160, .8);
	font-family: 'Amatic SC', sans-serif;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2rem;
	width: 1080px;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 10px;
	margin-right: 10%;
}



p {
	margin-left: 10%;
	margin-right: 10%;
}


h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

ul {
	font-family: 'Barrio', cursive;
	list-style-type: none;
	position: static;
	margin: 0 auto;
	overflow: hidden;
	align-items: center;
	margin-left: 23%;
}

li {
	display: inline-flex;
	text-align: center;
    padding: 14px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    justify-content: center;
}

footer {
	text-align: center;
	width: 100%;
	height: 30px;
	background-color: #F7F8B0;
	margin-top: 100px;
	font-size: 28px;
	font-family: 'Amatic SC', sans-serif;

}

#recordings {
	max-width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}


#pagelogo {
	display: flex;
	width: 100%;
	justify-content: center;
}

#banner{
	display: flex;
	justify-content: center;
	width: 100%;
	padding-bottom: 5%;
	margin: 0 auto;
}

#portfolio {
	font-size: 24px;
}

#responsivegraphic {
	display: flex;
	width: 80%;
	padding: 5%;
	margin: 0 auto;
	justify-content: center;
}

#form {
	margin: 0 auto;
	display: block;
}

#fname {
	font-family: 'Amatic SC', sans-serif;
	margin: 0 auto;
	background: #76DED7;;
	border-radius: 2px;
}

#lname {
	font-family: 'Amatic SC', sans-serif;
	margin: 0 auto;
	background: #76DED7;;
	border-radius: 2px;
}

#email {
	font-family: 'Amatic SC', sans-serif;
	margin: 0 auto;
	background: #76DED7;;
	border-radius: 2px;
}

#textbox {
	width: 300px;
	height: 150px;
	margin: 0 auto;
	margin-top: 15px;
	font-family: 'Amatic SC', sans-serif;
	background: #76DED7;;
	border-radius: 4px;
}

#submit {
	font-family: 'Amatic SC', sans-serif;
	margin: 0 auto;
	background: #76DED7;;
	border-radius: 2px;
	font-size: 18px;
	margin-top: 10px;
}

#jGuit1{
	width: 30%;
}

#jGuit2{
	width: 30%;
}

#jGuit3{
	width: 30%;
}

#jGuit4{
	width: 30%;
}

#jGuit5{
	width: 30%;
}

#jGuit6{
	width: 30%;
}

#death1{ 
	width: 30%;
 }

 #death2{ 
	width: 30%;
 }

 #death3{ 
	width: 30%;
 }

a:link {
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

a:active {
	text-decoration: underline;
}


@media screen and (max-width: 824px) {
	ul {
		position: relative;
	}
	li {
		font-size: 14px;
	}
	#navWrapper{
		width: 100%;
		background: #76DED7;
	}
	#banner img {
		width: 100%;
		height: auto;
	}
	#pagelogo {
		width: 60%;
		margin-left: 20%;
	}
	#recordings {
		margin-left: 6%;
	}
}

@media screen and (max-width: 770px){
	li {
		font-size: 10px;
	}
		#navWrapper{
		width: 100%;
		background: #76DED7;
	}
}