html {
	background-color: #F7F8B0;
	font-family: 'Abel', sans-serif;
}

nav {
	background-color: pink;
}

#container {
	background-color: rgba(251, 247, 160, .8);
	font-family: "Amatic SC", sans-serif;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	width: 1240px;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 10px;
	
}

#epone {
	display: flex;
	justify-content: center;
}

#livesessions {
	display: flex;
	justify-content: center;
}

#demos {
	display: flex;
	justify-content: center;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}


h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

ul {
	font-family: 'Barrio', cursive;
	list-style-type: none;
	position: static;
	margin: 0 auto;
	overflow: hidden;
	align-items: center;
	padding-left: 25%;
}

li {
	display: inline-flex;
	text-align: center;
    padding: 14px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    justify-content: center;
}

footer {
	text-align: center;
	width: 100%;
	height: 25px;
	background-color: #F7F8B0;
	margin-top: 100px;
	font-size: 20px;

}


#pagelogo {
	display: flex;
	width: 70%;
	justify-content: center;
	padding-left: 20%;
}

#banner {
	display: flex;
	justify-content: center;
	width: 80%;
	padding-bottom: 5%;
	margin-left: 10%;
}

#portfolio {
	font-size: 24px;
}

#responsivegraphic {
	display: flex;
	width: 80%;
	padding: 5%;
	margin: 0 auto;
	justify-content: center;
}

#fname {
	display: flex;
	justify-content: flex-start;
	align-content: center;
}

#lname {
	display: flex;
	justify-content: flex-start;
	align-content: center;
}

#email {
	display: flex;
	justify-content: flex-start;
	align-content: center;
}


#textbox {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	width: 350px;
	height: 150px;
}

#submit {
	display: flex;
	justify-content: center;
	align-content: center;
}

#jGuit1{
	width: 30%;
}

#jGuit2{
	width: 30%;
}

#jGuit3{
	width: 30%;
}

#jGuit4{
	width: 30%;
}

#jGuit5{
	width: 30%;
}

#jGuit6{
	width: 30%;
}

#death1{ 
	width: 20%;
 }

 #death2{ 
	width: 20%;
 }

 #death3{ 
	width: 20%;
 }

a:link {
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

a:active {
	text-decoration: underline;
}

@media screen and (max-width:680px) {
	ul {position: relative;}
	}
}

@media (max-width: 720px) {
	nav{
		width: 100%;
	}
}

@media (max-width: 800px) {
	#banner{
		width: 70%;
		margin-left: 15%;
	}
	#epone {
		margin: 0 auto;
	}
	#live_sessions {
		margin: 0 auto;
	}
	#pagelogo {
		width: 60%;
	}
}

@media (max-width: 400px){
	#banner{
		min-width: 60%;
		margin-left: 20%;
	}
	#epone {
		margin-right: 5px;
		max-width: 40%;
	}
	#livessions{
		margin-right: 5px;
		max-width: 40%;
	}
	#pagelogo {
		max-width: 40%;
	}
}

#socLinks {
	display: flex;
	justify-content: center;
}
